---
import MiniTerminal from "@/components/MiniTerminal/MiniTerminal.astro";
import TechSelector from "@/components/MiniTerminal/TechSelector";
---

<header class="relative flex h-5/6 min-h-80 justify-center">
  <div
    class="background-pattern absolute -z-1 h-full w-full mask-b-from-60% mask-b-to-100% bg-fixed opacity-30"
  >
  </div>
  <div
    class="flex w-full max-w-400 flex-col items-center justify-between gap-12 p-10 pb-20 md:flex-row"
  >
    <div class="">
      <h1
        class="text-theme-800 font-martian-mono text-center text-7xl leading-20 font-medium uppercase md:text-left"
      >
        Ezequiel<br />Mastropietro
      </h1>
      <h2
        class="text-theme-700 font-martian-mono text-center text-xl font-semibold md:text-left"
      >
        Desarrollador full stack
      </h2>
      <TechSelector />
    </div>
    <div class="">
      <MiniTerminal />
    </div>
  </div>
</header>
