---
import Content from "./Content";
import Tab from "./Tab";
---

<div class="bg-theme-800 relative flex h-52 w-lg flex-col rounded-sm">
  <div class="bg-theme-700 flex h-9 w-full rounded-t-sm">
    <Tab />
  </div>
  <div class="flex w-full grow items-center justify-center">
    <Content />
  </div>
</div>
